# Compiled class files
*.class

# Package files
*.jar
*.war
*.ear

# JVM crash logs
hs_err_pid*
replay_pid*

# Eclipse
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib

.settings/
.project
.classpath
.factorypath

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# VS Code
.vscode/

# Maven
target/

# Gradle
.gradle/
build/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
desktop.ini